h1 {
    color: rgb(180, 180, 101);
    font-size: 80px;
    text-align: center;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*eg6ptu*_gcl_au*MTU0NDczMTQ0NS4xNzQwNzA0NDIw*_ga*OTAwMDQ4ODkxMi4xNzQwNzA0Mjcy*_ga_3LRZM6TM9L*MTc0MTcxMzQzMy4yMy4xLjE3NDE3MTg1NzMuMzUuMC4w");
}

h3 {
font-size: 30px;
background-color: rgb(82, 248, 104);
color: white;
}

p {
    font-weight: bold;
}
.price {
    color: blue;
    font-weight: bold;
    
}

h4 {
    font-size: 20px;
}